.navContainer {
  display: flex;
  justify-content: space-between;
  background: rgb(80, 80, 80);
  padding: 0.25rem;
}

.logoHenry {
  margin: 0 10px;
}

.agregarActividades {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.agregarActividades button {
  background: rgb(230, 255, 1);
  border: none;
  color: black;
  padding: 0.3em 0.75em;
  border-radius: 0.25em;
  cursor: pointer;
}

@media (max-width: 600px) {
  .navContainer {
    flex-direction: column;
  }
  .logoHenry img {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
