.navSearchBarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.navSearchBarContainer input {
  margin-right: 10px;
  border: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.navSearchBarContainer input:focus {
  outline: none;
}

.navSearchBarContainer input:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}

.navSearchBarContainer button {
  background: rgb(230, 255, 1);
  border: none;
  color: black;
  padding: 0.3em 0.75em;
  border-radius: 0.25em;
  cursor: pointer;
}

.navSearchBarContainer button:focus {
  outline: none;
}

.navSearchBarContainer button:hover {
  outline: none;
  background: rgb(235, 247, 180);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
