.card {
  --padding: 1rem;
  background: rgb(80, 80, 80);
  border: 1px solid #777;
  border-radius: 0.25rem;
  overflow: hidden;
}

.card.card-shadow {
  border: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.card-header {
  font-size: 1.5rem;
  padding: var(--padding);
  padding-bottom: 0;
  margin-bottom: 0.5rem;
}

.card-header.card-image {
  padding: 0;
  overflow: hidden;
}

.card-header.card-image > img {
  display: block;
  width: 100%;
  max-height: 200px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;
  transition: 200ms transform ease-in-out;
}

.card:hover > .card-header.card-image > img {
  transform: scale(1.1);
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  padding: 0 var(--padding);
}

.card-body h6 {
  padding: 0;
  width: fit-content;
  margin: 0.5rem;
}

.card-footer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding: var(--padding);
  padding-top: 0;
}

.btn {
  background: rgb(230, 255, 1);
  border: none;
  color: black;
  padding: 0.5em 0.75em;
  border-radius: 0.25em;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  outline: none;
  background: rgb(235, 247, 180);
}
